.idCardContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 10px;
  margin: 10px;

  border: 1px solid black;
}

.idCardContainer__img {
  height: 150px;
}

.idCardContainer__personalInfo p {
  margin: 5px;
}
